@font-face {
    font-family: Manrope;
    src: url('/static/fonts/Manrope.ttf') format('truetype');
}

*,
*::after,
*::before {
    box-sizing: border-box;
    outline: none;
}
* {
    margin: 0;
    padding: 0;
}

:root {
    --font-family: 'Manrope', sans-serif;
}

body {
    font-family: var(--font-family);
}

/* mapbox */
.mapboxgl-ctrl-bottom-right,
.mapboxgl-ctrl-bottom-left,
.mapboxgl-popup-close-button {
    display: none;
}
