*,
*::after,
*::before {
    box-sizing: border-box;
    outline: none;
}
* {
    margin: 0;
    padding: 0;
}

:root {
    --font-family: 'Inter', sans-serif;
    --font-weight-title: 600;
    --font-weight-text: 500;

    --color-light: #fff;
    --color-dark: #333;

    --standard-margin: 0.625rem;

    --border-radius: 0.25rem;
}

body {
    font-family: var(--font-family);
    user-select: none;
}

/* popup */
.flightCardHeading {
    margin-left: 0.2em;
    font-size: 1em;
}

.flightCard {
    display: flex;
    flex-direction: column;
    line-height: normal;
    white-space: nowrap;
    color: var(--color-dark);
    background-color: var(--color-light);
    border: 2px solid #e6e7ed;
    border-radius: 0.625em;
    user-select: none;
}

.flightCard + .flightCardHeading {
    margin-top: 0.5em;
}

.flightCard > div:first-of-type,
.flightCard > div:last-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
}
.flightCard > div:first-of-type {
    border-bottom: 1px solid #e6e7ed;
}
.flightCard > div:last-of-type {
    gap: 0.5em;
    border-top: 1px solid #e6e7ed;
}

.flightCard > div:first-of-type > div {
    display: flex;
    align-items: center;
}

.flightCard > div:first-of-type > span {
    padding: 0.125em 0.5em 0.15em 0.5em;
    font-size: 0.55em;
    font-weight: 500;
    background-color: #d0e1fb;
    border: 2px solid #c8dcfb;
    border-radius: 50px;
}

.flightName {
    font-size: 0.8em;
    font-weight: 600;
}

.flightAirline {
    color: #5e6f86;
    font-size: 0.65em;
    font-weight: 500;
}

.flightCity,
.flightTime,
.flightCard > div:last-of-type > div span {
    color: #5e6f86;
    font-size: 0.55em;
    font-weight: 500;
}

.flightCity {
    color: var(--color-dark);
}

.flightTime {
    font-size: 0.75em;
}

.flightCityAbbr {
    font-size: 1.5em;
    font-weight: 600;
}
.flightCard > div:last-of-type .flightCityAbbr {
    margin-left: -0.05em;
}

.flightCard > div:last-of-type > div {
    display: flex;
    flex-direction: column;
    min-width: 3.5em;
}
.flightCard > div:last-of-type > div:last-of-type {
    align-items: flex-end;
}

.flightCard > div:last-of-type > div span {
    display: flex;
    align-items: center;
    gap: 0.125em;
    margin-left: -0.1em;
}

.flightCard > div:last-of-type > div span svg {
    width: 1.25em;
    height: 1.25em;
}

.emptyCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-dark);
}

.emptyCard img {
    width: 100%;
}

.emptyCard p {
    font-weight: 500;
    text-transform: uppercase;
}

/* mapbox */
button.mapboxgl-ctrl-compass,
.mapboxgl-ctrl-bottom-right,
.mapboxgl-ctrl-bottom-left {
    display: none;
}

div.mapboxgl-popup-content {
    width: 20em;
    font-family: var(--font-family);
    user-select: text;
}
